.home_history_field {
    min-width: 800px;
    margin: auto;
}

.action_tittle {
    width: 90%;
    height: 60px;
    margin: 5px 5px 20px 5px;
    font-size: 1.4em;
    font-weight: 100;
    text-transform: uppercase;
    text-align: left;
    line-height: 55px;
    color: black;
    letter-spacing: 3px;
    border-bottom: solid 1px rgba(255,255,255,0.5);
}