.App {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
}

.App_action_side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;
    margin: 0 20px;
    padding: 2.5px 0;
}

.row_direction{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.column_direction_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    min-height: inherit;
}

.column_direction{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 20px 0;
}

.action_container {
    width: auto;
    height: 85%;
    margin: auto 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.action_container_flex_top {
    width: auto;
    height: 85%;
    margin: auto 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.action_result {
    min-width: 500px;
    height: 100px;
    margin: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}